<?php

  require('vendor/autoload.php');
 
  $n4host = ''; # IP/Domain of the neo4j server
  $n4port = '7474'; # if the port is different change this
  $n4user = ''; #neo4j username
  $n4password = ''; #neo4j password

$client = New Everyman\Neo4j\Client($n4host, $n4port);
$client->getTransport()
        ->setAuth($n4user, $n4password);

 
  /*  spl_autoload_register(function ($class) {
        include_once 'HttpJsonClass.php';
    });*/
  
